<h1>Dojo Secrets</h1>
<h2>Log In</h2>
<form action="/login" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Email</label>
  <div>
    <input type="email" name="login[email]">
  </div>
  <label>Password</label>
  <div>
    <input type="password" name="login[password]">
  </div>
  <input type="submit" name="Log In" value="Log In">
</form>
